/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
     /* top banner start */
     .top-banner{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        background-size: 310px;

    }
    .half-width{
        width: 95%;
    }
    .half-width img{
        width: 100%;
    }
    .half-width h1{
        font-size: 20px;
    }
    .half-width a{
        padding: 8px 20px;
    }
    /* top banner end */

    .experience{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: 20px !important;
        margin-bottom: 40px;
        }
        .developer{
            width: 73%;
            margin-bottom: 30px;
        }
        .c-margin {
            margin-left: 20px;
        }
        .border {
        
            margin-left: 20px;
        }
        .experience{
            background-size: 40px;
        }
        .developer h2{
            font-size: 20px;
        }
       .ex-h1{
        font-size: 20px;
        text-align: center;
       }
       .dream-big{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: 50px;
        margin-top: 90px;
    }
    .dream-big a{
        padding: 8px 15px;
    }
 }
 
 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px) {
    /* top banner start */
    .top-banner{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

    }
    .half-width{
        width: 95%;
    }
    .half-width img{
        width: 100%;
    }
    .half-width h1{
        font-size: 30px;
    }
    .half-width a{
        padding: 8px 30px;
    }
    /* top banner end */

    /* dream-big start */
    .dream-big{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: 50px;
        margin-top: 90px;
    }
    .dream-big a{
        padding: 8px 15px;
    }
    .experience{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: 60px;
        }
        .developer{
            width: 70%;
            margin-bottom: 30px;
        }
        .c-margin {
            margin-left: 40px;
        }
        .border {
        
            margin-left: 40px;
        }
        .experience{
            background-size: 40px;
        }
    /* dream-big end */
 }
 
  /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) and (max-width: 991.98px) {
    /* dream big start */
    .dream-big{
        background-size: 60px;
    }
    /* dream big end */
    .border {
        
        margin-left: 40px;
    }
    .experience{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 60px;
    }
    .c-margin {
        margin-left: 40px;
    }
    .developer{
        width: 70%;
        margin-bottom: 30px;
    }
    
 }
 
 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) and (max-width: 1199.98px) {
    .dream-big{
        background-size: 100px;
    }
    .developer{
        width: 35%;
    }
    .developer h2{
        font-size: 30px;
    }
 }
 
  /* Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) and (max-width:1399.98px){
   
 }
  /* Extra Extra large devices (large desktops, 1400px and up) */
 @media (min-width: 1400px) {
     
 }
